<!-- Modal Añadir -->
  <div class="modal fade" id="modalAgregarOpcion" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form id="formAgregarOpcion">
          <div class="modal-header">
            <h5 class="modal-title">Agregar Opción</h5>
            <button class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <label for="nombreOpcion" class="form-label">Cual es la opcion</label>
            <input type="text" id="nombreOpcion" class="form-control" placeholder="Escribe la opción" required />
          </div>
          <div class="modal-footer">
            <button class="btn btn-success" type="submit">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
