<!-- MODAL PARA AÑADIR PREGUNTA -->
<div class="modal-header">
  <h5 class="modal-title">Agregar Opción</h5>
  <button type="button" class="btn-close" aria-label="Cerrar" (click)="activeModal.dismiss('Cancelar')"></button>
</div>
<div class="modal-body">
  <div class="mb-3">
    <label for="nombreOpcion" class="form-label">Cual es la opcion</label>
    <input type="text" class="form-control" id="nombreOpcion"
          [(ngModel)]="nombreOpcion" name="nombreOpcion"
          placeholder="Ejem. ¿Como se llama?" required>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cancelar')">Cancelar</button>
  <button type="button" class="btn btn-primary" (click)="guardarOpcion()" [disabled]="!nombreOpcion.trim()">Guardar</button>
</div>
