<!-- MODAL PARA AÑADIR PREGUNTA -->
<div class="modal-header">
  <h5 class="modal-title" id="modalAgregarPreguntaLabel">Agregar Nueva Pregunta</h5>
  <button type="button" class="btn-close" aria-label="Cerrar" (click)="activeModal.dismiss('Cancelar')"></button>
</div>
<div class="modal-body">
  <div class="mb-3">
    <label for="nombrePregunta" class="form-label">Nombre de la pregunta</label>
    <input type="text" class="form-control" id="nombrePregunta"
          [(ngModel)]="nombrePregunta" name="nombrePregunta"
          placeholder="Ejem. ¿Como se llama?" required>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cancelar')">Cancelar</button>
  <button type="button" class="btn btn-primary" (click)="guardarPregunta()" [disabled]="!nombrePregunta.trim()">Guardar</button>
</div>
