<!-- MODAL PARA AÑADIR ENCUESTA -->
  <div class="modal fade" id="modalAgregarEncuesta" tabindex="-1" aria-labelledby="modalAgregarEncuestaLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalAgregarEncuestaLabel">Agregar Nueva Encuesta</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          <form id="formAgregarEncuesta">
            <div class="mb-3">
              <label for="nombreEncuesta" class="form-label">Nombre de la Encuesta</label>
              <input type="text" class="form-control" id="nombreEncuesta" required>
            </div>
            <button type="submit" class="btn btn-success">Guardar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
