<!-- Modal Editar -->
  <div class="modal fade" id="modalEditarOpcion" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form id="formEditarOpcion">
          <div class="modal-header">
            <h5 class="modal-title">Editar Opción</h5>
            <button class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <input type="hidden" id="indiceEditarOpcion" />
            <input type="text" id="textoEditarOpcion" class="form-control" required />
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" type="submit">Guardar Cambios</button>
            <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
